
/Client/LibProject2Common/bin/Debug/LibMediaServiceCommon.dll
/Client/LibProject2Common/bin/Debug/LibMediaServiceCommon.pdb
/Client/LibProject2Common/bin/Debug/LibProject2Common.dll
/Client/LibProject2Common/bin/Debug/LibProject2Common.pdb
/Client/LibProject2Common/bin/Debug/ServiceStack.Text.dll
/Client/LibProject2Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Client/LibProject2Common/obj/Debug/LibMediaServiceCommon.csproj.FileListAbsolute.txt
/Client/LibProject2Common/obj/Debug/LibMediaServiceCommon.dll
/Client/LibProject2Common/obj/Debug/LibMediaServiceCommon.pdb
/Client/LibProject2Common/obj/Debug/LibProject2Common.csproj.FileListAbsolute.txt
/Client/LibProject2Common/obj/Debug/LibProject2Common.dll
/Client/LibProject2Common/obj/Debug/LibProject2Common.pdb
/Client/Project2.suo
/Client/Project2GUI/Carousel.resources
/Client/Project2GUI/MainForm.resources
/Client/Project2GUI/bin/Debug/LibMediaServiceCommon.dll
/Client/Project2GUI/bin/Debug/LibMediaServiceCommon.pdb
/Client/Project2GUI/bin/Debug/LibMplayerCommon.dll
/Client/Project2GUI/bin/Debug/LibProject2Common.dll
/Client/Project2GUI/bin/Debug/LibProject2Common.pdb
/Client/Project2GUI/bin/Debug/MediaPlayer.exe
/Client/Project2GUI/bin/Debug/MediaServiceClient.exe
/Client/Project2GUI/bin/Debug/MediaServiceClient.exe.config
/Client/Project2GUI/bin/Debug/MediaServiceClient.pdb
/Client/Project2GUI/bin/Debug/MediaServiceClient.vshost.exe
/Client/Project2GUI/bin/Debug/MediaServiceClient.vshost.exe.config
/Client/Project2GUI/bin/Debug/MediaServiceClient.vshost.exe.manifest
/Client/Project2GUI/bin/Debug/Project2GUI.exe
/Client/Project2GUI/bin/Debug/Project2GUI.exe.config
/Client/Project2GUI/bin/Debug/Project2GUI.pdb
/Client/Project2GUI/bin/Debug/ServiceStack.Text.dll
/Client/Project2GUI/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Client/Project2GUI/obj/x86/Debug/GenerateResource.read.1.tlog
/Client/Project2GUI/obj/x86/Debug/GenerateResource.write.1.tlog
/Client/Project2GUI/obj/x86/Debug/MediaServiceClient.Carousel.resources
/Client/Project2GUI/obj/x86/Debug/MediaServiceClient.MainForm.resources
/Client/Project2GUI/obj/x86/Debug/MediaServiceClient.Properties.Resources.resources
/Client/Project2GUI/obj/x86/Debug/MediaServiceClient.TestForm.resources
/Client/Project2GUI/obj/x86/Debug/MediaServiceClient.UserSetup.resources
/Client/Project2GUI/obj/x86/Debug/MediaServiceClient.VerticalList.resources
/Client/Project2GUI/obj/x86/Debug/MediaServiceClient.csproj.FileListAbsolute.txt
/Client/Project2GUI/obj/x86/Debug/MediaServiceClient.exe
/Client/Project2GUI/obj/x86/Debug/MediaServiceClient.pdb
/Client/Project2GUI/obj/x86/Debug/Project2GUI.Carousel.resources
/Client/Project2GUI/obj/x86/Debug/Project2GUI.MainForm.resources
/Client/Project2GUI/obj/x86/Debug/Project2GUI.Properties.Resources.resources
/Client/Project2GUI/obj/x86/Debug/Project2GUI.TestForm.resources
/Client/Project2GUI/obj/x86/Debug/Project2GUI.UserSetup.resources
/Client/Project2GUI/obj/x86/Debug/Project2GUI.VerticalList.resources
/Client/Project2GUI/obj/x86/Debug/Project2GUI.csproj.FileListAbsolute.txt
/Client/Project2GUI/obj/x86/Debug/Project2GUI.exe
/Client/Project2GUI/obj/x86/Debug/Project2GUI.pdb
/Client/Project2GUI/obj/x86/Debug/ResolveAssemblyReference.cache
/Client/Project2GUI/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Client/LibProject2Common/obj/Debug/ResolveAssemblyReference.cache
/Client/Project2GUI/TestForm.resources
/Client/Project2GUI/Properties/Resources.resources
/Client/MediaServiceWinformClient.suo
/Database/LotsOfVideo.mwb.bak